<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smin89.fileupload.mapper.FileMapper">
  <insert id="insertFile" parameterType="fileVO" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO files (original_name, stored_name, storage_path, mime_type, size_bytes, sha256, created_at)
    VALUES (#{originalName}, #{storedName}, #{storagePath}, #{mimeType}, #{sizeBytes}, #{sha256}, #{createdAt})
  </insert>
</mapper>
